.hero {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-image: url('../../assets/images/hero/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
} 